.modeling-work__item {
  display: flex;
  align-items: center;
  &::before {
    display: block;
    content: '';
    width: 7px;
    height: 7px;

    margin-right: 10px;
    background: var(--title-color);
    border-radius: 3px 0px;
  }
}
.modeling-work__item:not(:last-child) {
  margin-bottom: 16px;
}

.modeling__title {
  margin-bottom: 16px;
  @media screen and (min-width: 1444px) {
    margin-bottom: 24px;
  }
}
.modeling-work__title {
  margin-bottom: 16px;
}
.modeling-foto__title {
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1444px) {
    margin-bottom: 52px;
  }
}
.modeling__text {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.modeling-container {
  padding-top: 11px;
  padding-bottom: 76px;
  @media screen and (min-width: 1444px) {
    padding-bottom: 100px;
  }
}
.modeling {
  padding-bottom: 52px;
  @media screen and (min-width: 768px) {
    padding-bottom: 50px;
  }
  @media screen and (min-width: 1444px) {
    padding-bottom: 100px;
  }
}
.modeling-work,
.modeling-foto {
  padding-bottom: 52px;
  @media screen and (min-width: 1444px) {
    padding-bottom: 100px;
  }
}
.modeling__btn {
  display: block;
  margin: 0 auto;
}
.modeling-foto__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -11px;
    margin-top: -16px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.modeling-foto__item {
  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 22px) / 2);
    margin-left: 11px;
    margin-top: 16px;
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }
  @media screen and (min-width: 1444px) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
