.modeling-container {
  padding-top: 11px;
  padding-bottom: 76px;
  @media screen and (min-width: 1444px) {
    padding-bottom: 100px;
  }
}
.modeling-work__item {
  display: flex;
  align-items: center;
  &::before {
    display: block;
    content: '';
    width: 7px;
    height: 7px;

    margin-right: 10px;
    background: var(--title-color);
    border-radius: 3px 0px;
  }
}
.modeling-work__item:not(:last-child) {
  margin-bottom: 16px;
}

.decoration-group-one {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 73px;
    height: 73px;
    z-index: -1;
    left: -45px;
    top: 200px;
    background: var(--white-color);
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 35px 0px;
    @media screen and (min-width: 1444px) {
      width: 144px;
      height: 144px;
      left: -170px;
      top: 115px;
      border-radius: 0px 0px 72px 0px;
    }
  }
  @media screen and (min-width: 768px) {
    &::after {
      content: '';
      position: absolute;
      width: 73px;
      height: 63px;
      z-index: -1;
      top: -12px;
      right: -45px;
      background: var(--white-color);
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      border-radius: 0px 35px 0px 0px;
      transform: rotate(180deg);
      @media screen and (min-width: 1444px) {
        width: 144px;
        height: 144px;
        top: -10px;
        right: -175px;
        border-radius: 0px 0px 72px 0px;
        transform: rotate(90deg);
      }
    }
  }
}
.decoration-group-two {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 73px;
    height: 73px;
    z-index: -1;
    left: -35px;
    top: 110px;
    background: var(--white-color);
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 73px;
    height: 73px;
    z-index: -1;
    top: 60px;
    right: -30px;
    background: var(--white-color);
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px;
    @media screen and (min-width: 768px) {
      top: 90px;
      right: -50px;
      border-radius: 25px 0px;
    }
    @media screen and (min-width: 1444px) {
      width: 144px;
      height: 144px;
      top: 200px;
      right: -215px;
      border-radius: 72px 0px;
    }
  }
}
.decoration-group-three {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 73px;
    height: 73px;
    z-index: -1;
    left: -35px;
    top: 35px;
    background: var(--white-color);
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 35px;
    @media screen and (min-width: 768px) and(max-width:1443px) {
      display: none;
    }
    @media screen and (min-width: 1444px) {
      width: 144px;
      height: 144px;
      left: -245px;
      top: 210px;
      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      border-radius: 72px;
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 73px;
    height: 73px;
    z-index: -1;
    top: -5px;
    right: -40px;
    background: var(--white-color);
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;
    transform: rotate(90deg);
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
.decoration-group-four {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 73px;
    height: 73px;
    z-index: -1;
    right: -40px;
    top: -65px;
    background: var(--white-color);
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;
    @media screen and (min-width: 768px) and(max-width:1443px) {
      display: none;
    }
    @media screen and (min-width: 1444px) {
      width: 144px;
      height: 144px;
      top: -46px;
      right: -215px;
      border-radius: 72px;
    }
  }
}
.modeling__title {
  margin-bottom: 16px;
  @media screen and (min-width: 1444px) {
    margin-bottom: 24px;
  }
}
.modeling-work__title {
  margin-bottom: 16px;
}
.modeling-foto__title {
  max-width: 280px;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    max-width: 600px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1444px) {
    max-width: 842px;
    margin-bottom: 52px;
  }
}
.modeling__text {
  line-height: 1.28;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    max-width: 515px;
  }
  @media screen and (min-width: 1444px) {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 32px;
    }
  }
}
.hero-text {
  @media screen and (min-width: 1444px) {
    display: flex;
  }
}

.modeling {
  padding-bottom: 52px;
  @media screen and (min-width: 768px) {
    padding-bottom: 50px;
  }
  @media screen and (min-width: 1444px) {
    padding-bottom: 100px;
  }
}
.modeling-work,
.modeling-foto {
  padding-bottom: 52px;
  @media screen and (min-width: 1444px) {
    padding-bottom: 100px;
  }
}

.modeling-work {
  position: relative;
}
.modeling-images {
  background-image: url(../images/3d-modeling/pic/pic-mobile.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: center;
  width: 280px;
  height: 164px;
  margin-top: 32px;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .modeling-images {
      background-image: url(../images/3d-modeling/pic/pic-mobile@2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    z-index: -1;
    background-image: url(../images/3d-modeling/pic/pic-tablet.jpg);
    background-repeat: no-repeat;
    width: 246px;
    height: 144px;
    top: 34px;
    right: 0;
    margin-top: 0;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .modeling-images {
      background-image: url(../images/3d-modeling/pic/pic-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1444px) {
    background-image: url(../images/3d-modeling/pic/pic-deckstope.jpg);
    width: 515px;
    height: 301px;
    top: -61px;
    right: 0;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .modeling-images {
      background-image: url(../images/3d-modeling/pic/pic-deckstope@2x.jpg);
    }
  }
}
.modeling-foto__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -11px;
    margin-top: -16px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.modeling-foto__item {
  @media screen and (max-width: 767px) {
    width: calc((100% - 22px) / 2);
    margin-left: 11px;
    margin-top: 16px;
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
  @media screen and (min-width: 1444px) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
.modeling__btn {
  display: block;
  margin: 0 auto;
}
