.scanning__paragraph {
  min-height: 200px;
  background-image: url(../images/3D-scanning/backgraund_m.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 24px;
}

.scanning__title {
  margin-bottom: 17px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 25px;
  }
}

.scanning__title {
  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    margin-bottom: 25px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 52px;
  }
}

.scanning__list {
  margin-bottom: 52px;
}
