.container {
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    .container {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
  @media screen and (min-width: 1444px) {
    .container {
      padding-left: 189px;
      padding-right: 189px;
    }
  }
}
