.footer {
  background-color: rgba(72, 121, 150, 0.1);
  outline: black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-address__text:not(:last-child),
.footer-phone__text:not(:last-child),
.footer-menu__item:not(:last-child),
.footer-social__item:not(:last-child),
.footer-phone__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-address__text,
.footer-phone__text {
  margin-top: 0;
}

.footer-menu,
.footer-social,
.footer-address,
.footer-phone {
  margin: 0;
  padding: 0;
}

.footer-menu__link,
.footer-social__link,
.footer-address__text,
.footer-address__link,
.footer-phone__text,
.footer-phone__link {
  @include fontStyle(16px, 1.26, var(--text-color), 0.02em, 400);
  font-style: normal;
}

.footer-address__link,
.footer-phone__link {
  color: var(--title-color);
}

.footer-social__link:hover,
.footer-menu__link:focus,
.footer-social__link:hover,
.footer-social__link:focus,
.footer-menu__link:hover,
.footer-menu__link:focus,
.footer-phone__link:hover,
.footer-phone__link:focus,
.footer-address__link:hover,
.footer-address__link:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #487996;
}

.logo__icon {
  width: 192px;
  height: 48px;
  margin-bottom: 19px;
}

@media screen and (min-width: 320px) {
  .footer {
    text-align: center;
  }

  .container__navigation {
    display: block;
  }

  .container__menu,
  .container__social,
  .container__address,
  .container__phone:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: start;
  }

  .container-general {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin: 0 auto;
  }

  .container__menu,
  .container__social {
    margin-bottom: 0;
  }

  .footer-menu,
  .footer-social,
  .container__address-phone {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1444px) {
  .container-general {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .logo__icon {
    margin-bottom: 0;
  }

  .navigation-footer,
  .container__menu,
  .container__social,
  .container__address,
  .container__phone {
    display: flex;
  }

  .container__address,
  .container__phone {
    flex-direction: column;
  }

  .navigation-footer,
  .container__menu,
  .container__social {
    flex-direction: row;
  }
}
