.gallery {
  // padding-top: 26px;
  // padding-bottom: 26px;

  @media screen and (min-width: $desktop) {
    // padding-top: 50px;
    // padding-bottom: 50px;
  }
}
.gallery__container {
  // min-width: 320px;
  // max-width: 767px;
  // padding-left: 20px;
  // padding-right: 20px;
  margin: 0 auto;

  position: relative;
  &::after {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -10;
    right: -10%;
    bottom: -10%;
    content: ' ';
    width: 73px;
    height: 73px;
    background: #ffffff;

    border-radius: 25px 0px;
    transform: rotate(90deg);
    @media screen and (min-width: $tablet) {
      right: 5%;
      bottom: -36%;
    }
    @media screen and (min-width: $desktop) {
      width: 144px;
      height: 144px;
      right: 2%;
      bottom: -95%;

      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      border-radius: 72px 0px;
      transform: rotate(90deg);
    }
  }
  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    // padding-left: 60px;
    // padding-right: 60px;
    margin: 0 auto;
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}
.gallery__title {
  position: relative;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;

  color: var(--title-color);

  &::before {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -10;
    left: 0;
    top: 0;
    content: ' ';
    width: 73px;
    height: 73px;
    background: #ffffff;

    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 35px;
    @media screen and (min-width: $desktop) {
      width: 144px;
      height: 144px;
      border-radius: 72px 0px;
      border-radius: 0px 0px 72px 0px;
      left: -8%;
      top: 130%;
    }
  }
  &::after {
    @media screen and (min-width: $tablet) {
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: -10;
      right: -3%;
      top: -18%;
      content: ' ';
      width: 73px;
      height: 73px;
      background: #ffffff;

      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      border-radius: 0px 0px 35px 0px;
      transform: rotate(-180deg);
    }
    @media screen and (min-width: $desktop) {
      width: 144px;
      height: 144px;
      border-radius: 0px 0px 72px 0px;
      right: -21%;
      top: 250%;
    }
  }

  @media screen and (min-width: $tablet) {
    font-size: 36px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 48px;
    margin-bottom: 52px;
  }
}
.gallery__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  &::before {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -10;
    left: 3%;
    top: 44%;
    content: ' ';
    width: 73px;
    height: 73px;
    background: #ffffff;

    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;
    @media screen and (min-width: $desktop) {
      width: 144px;
      height: 144px;
      border-radius: 72px 0px;
      left: -5%;
      top: 72%;
    }
  }
  &::after {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -10;
    right: -20%;
    top: 35%;
    content: ' ';
    width: 73px;
    height: 73px;
    background: #ffffff;

    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px;
    @media screen and (min-width: $tablet) {
      top: 20%;
      right: -17%;
    }
    @media screen and (min-width: $desktop) {
      top: 50%;
      right: -38%;
      width: 144px;
      height: 144px;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    align-items: baseline;

    margin-left: -18px;
    margin-top: -32px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: -32px;
    margin-top: -56px;
  }
}
.gallery__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
  @media screen and (max-width: 767px) {
    min-width: 100%;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 18px;
    margin-top: 32px;
    flex-basis: calc((100% - 36px) / 2);
  }
  @media screen and (min-width: $desktop) {
    margin-left: 32px;
    margin-top: 56px;
    flex-basis: calc((100% - 64px) / 2);
  }
}
.galley__photo {
  width: 100%;
  height: auto;
  display: block;
}
.gallery__description {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;

  color: var(--title-color);

  margin-top: 8px;
  max-width: auto;
  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}
.more-photo {
  padding-top: 26px;
  padding-bottom: 26px;

  @media screen and (min-width: $desktop) {
    padding-top: 50px;
    padding-bottom: 200px;
  }
}
.more-photo__container {
  position: relative;

  // min-width: 320px;
  // max-width: 767px;
  width: auto;
  // padding-left: 20px;
  // padding-right: 20px;
  margin: 0 auto;

  &::before {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -10;
    left: 0;
    top: 0;
    content: ' ';
    width: 73px;
    height: 73px;
    background: #ffffff;

    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 35px;
  }
  @media screen and (min-width: $tablet) {
    min-width: unset;
    max-width: $tablet;
    // padding-left: 60px;
    // padding-right: 60px;
    margin: 0 auto;
    &::before {
      left: 20%;
      top: 10%;

      @media screen and (min-width: $desktop) {
        width: 144px;
        height: 144px;
        border-radius: 0px 0px 0px 72px;
        left: 7%;
        top: 45%;
      }
    }
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    &::after {
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: -10;
      right: 8%;
      top: 105%;
      content: ' ';
      width: 144px;
      height: 144px;
      background: #ffffff;

      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      border-radius: 0px 0px 0px 72px;
    }
  }
}
.more-photo__title {
  position: relative;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: var(--title-color);

  margin-bottom: 16px;

  &::after {
    @media screen and (min-width: $desktop) {
      content: ' ';
      position: absolute;
      top: 20%;
      right: -20%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 144px;
      height: 144px;
      background-image: url(../images/gallery/gallery-morephoto-5.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media screen and (min-width: $tablet) {
    font-size: 36px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 48px;
    margin-bottom: 52px;
  }
}
.more-photo__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -10;
    right: -15%;
    top: 10%;
    content: ' ';
    width: 73px;
    height: 73px;
    background: #ffffff;

    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 25px 0px;
    @media screen and (min-width: $tablet) {
      right: 0%;
      top: 55%;
    }
    @media screen and (min-width: $desktop) {
      width: 144px;
      height: 144px;

      border-radius: 72px 0px;
      right: -2%;
      top: 94%;
    }
  }
  &::after {
    @media screen and (min-width: $tablet) {
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: -10;
      left: 2%;
      top: 50%;
      content: ' ';
      width: 73px;
      height: 73px;
      background: #ffffff;

      box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
      border-radius: 72px;
    }
    @media screen and (min-width: $desktop) {
      width: 144px;
      height: 144px;
      left: -2%;
      top: 92%;

      border-radius: 72px;
    }
  }
  @media screen and (min-width: $tablet) {
    grid-gap: 19px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    display: grid;
    grid-template-areas:
      'gallery-1 gallery-1 gallery-2 gallery-2 gallery-3'
      'gallery-4 gallery-5 gallery-5 gallery-6 gallery-6'
      'gallery-7 gallery-7 gallery-8 gallery-8 gallery-9'
      'gallery-10 gallery-11 gallery-11 gallery-12 gallery-12';
  }
  @media screen and (min-width: $desktop) {
    grid-gap: 32px;
  }
}
.more-photo__item {
  min-width: 100%;
  width: auto;
  height: auto;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: $tablet) {
    min-width: unset;

    &:not(:last-child) {
      margin-bottom: 0px;
    }

    &:nth-child(1) {
      grid-area: gallery-1;
      height: 159px;
    }
    &:nth-child(2) {
      grid-area: gallery-2;
      height: 159px;
    }
    &:nth-child(3) {
      grid-area: gallery-3;
      height: 159px;
    }
    &:nth-child(4) {
      grid-area: gallery-4;
      height: 166px;
    }
    &:nth-child(5) {
      grid-area: gallery-5;
      height: 166px;
    }
    &:nth-child(6) {
      grid-area: gallery-6;
      height: 166px;
    }
    &:nth-child(7) {
      grid-area: gallery-7;
      height: 124px;
    }
    &:nth-child(8) {
      grid-area: gallery-8;
      height: 124px;
    }
    &:nth-child(9) {
      grid-area: gallery-9;
      height: 124px;
    }
    &:nth-child(10) {
      grid-area: gallery-10;
      height: 159px;
    }
    &:nth-child(11) {
      grid-area: gallery-11;
      height: 159px;
    }
    &:nth-child(12) {
      grid-area: gallery-12;
      height: 159px;
    }
  }
  @media screen and (min-width: $desktop) {
    &:nth-child(1) {
      grid-area: gallery-1;
      height: 260px;
    }
    &:nth-child(2) {
      grid-area: gallery-2;
      height: 260px;
    }
    &:nth-child(3) {
      grid-area: gallery-3;
      height: 260px;
    }
    &:nth-child(4) {
      grid-area: gallery-4;
      height: 271px;
    }
    &:nth-child(5) {
      grid-area: gallery-5;
      height: 271px;
    }
    &:nth-child(6) {
      grid-area: gallery-6;
      height: 271px;
    }
    &:nth-child(7) {
      grid-area: gallery-7;
      height: 203px;
    }
    &:nth-child(8) {
      grid-area: gallery-8;
      height: 203px;
    }
    &:nth-child(9) {
      grid-area: gallery-9;
      height: 203px;
    }
    &:nth-child(10) {
      grid-area: gallery-10;
      height: 260px;
    }
    &:nth-child(11) {
      grid-area: gallery-11;
      height: 260px;
    }
    &:nth-child(12) {
      grid-area: gallery-12;
      height: 260px;
    }
  }
}
.more-photo__link {
}
.more-photo__image {
  width: 100%;
  height: auto;
  display: inline-block;
  @media screen and (min-width: $tablet) {
    height: 100%;
  }
}
.slider {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(43, 43, 43, 0.8);

    opacity: 1;
    transition: opacity 250ms linear, visibility 250ms linear;
  }

  &.is-hidden {
    @media screen and (min-width: $tablet) {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }
}
.slider__box {
  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 554px;
    min-height: 369px;

    transform: translate(-50%, -50%) scale(1);
    @media screen and (min-width: $desktop) {
      min-width: 906px;
      min-height: 605px;
    }
  }
  & .is-hidden {
    @media screen and (min-width: $tablet) {
      transform: translate(-50%, -50%) scale(0.8);
    }
  }
}
.slider__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
.slider__item {
}
.slider__image {
  @media screen and (min-width: $tablet) {
    width: auto;
    height: auto;
    display: inline-block;
  }
}
