@media screen and (min-width: 320px) {
  .header-nav__item {
    @include fontStyle(18px, 1.25, var(--text-color), 0.01em, 400);
    color: var(--text-color);
  }

  .header-nav__link {
    @include fontStyle(16px, 1.19, var(--text-color), 0.01em, 400);
  }

  .header-phone__link {
    @include fontStyle(16px, 1.25, var(--text-color), 0.01em, 400);
  }

  .header-nav__link:hover,
  .header-nav__link:focus,
  .header-phone__link:hover,
  .header-phone__link:focus {
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .container-header {
    width: 278px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .header-burger {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .burger {
    display: flex;
    align-items: center;
  }

  .burger-item:not(:last-child) {
    margin-right: 46px;
  }

  .container-header {
    padding-top: 32px;
    padding-bottom: 36px;
  }

  .logo {
    width: 101px;
    height: 25px;
  }

  .open-btn {
    background-color: transparent;
  }

  .burger__icon,
  .call__icon {
    fill: var(--title-color);
    color: var(--title-color);
    background-color: transparent;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .container__nav,
  .header-phone__link {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    width: 648px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .logo {
    width: 125px;
    height: 31px;
  }

  .container-phone,
  .header-phone__link {
    display: inline;
  }

  .contact__icon {
    margin-right: 8px;
  }

  .header-phone__link:hover,
  .header-phone__link:focus {
    fill: var(--title-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-phone__item {
    display: flex;
  }

  .container__nav {
    display: none;
  }

  .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-phone__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .container-phone {
    order: 4;
  }

  .burger-item:not(:last-child) {
    margin-right: 0;
  }

  .call__icon {
    display: none;
  }
}

@media screen and (min-width: 1444px) {
  .container-header {
    width: 1280px;
    align-items: flex-start;
  }

  .logo {
    width: 192px;
    height: 49px;
  }

  .container-header,
  .navigation-header,
  .container__nav,
  .header-nav,
  .container-phone {
    display: flex;
  }

  .header-nav {
    justify-content: space-around;
  }

  .container__nav,
  .header-nav {
    justify-content: start;
  }
  .header-nav__item {
    text-align: center;
  }

  .header__icon {
    margin-right: 170px;
  }

  .header-nav__item:not(:last-child) {
    margin-right: 19px;
  }

  .header-nav__link:not(:last-child) {
    margin-bottom: 6px;
  }

  .mobile-menu,
  .burger__icon,
  .call__icon {
    display: none;
  }
}
.mobile {
  display: none;

  &.active {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.header-menu {
  position: relative;
}
