//HERO MAIN
// .container {
//   position: relative;
//   width: 100%;
//   margin: 0 auto;

//   @media screen and (min-width: 320px) {
//     max-width: 320px;
//     padding-left: 20px;
//     padding-right: 20px;
//   }
//   @media screen and (min-width: 768px) {
//     max-width: 768px;
//     padding-left: 60px;
//     padding-right: 60px;
//   }
//   @media screen and (min-width: 1444px) {
//     max-width: 1444px;
//     padding-left: 189px;
//     padding-right: 189px;
//   }
// }
// .hero {
//   width: 100%;
//   padding-top: 32px;
//   @media screen and (min-width: 768px) {
//     padding-left: 114px;
//     padding-right: 114px;
//     padding-top: 35px;
//   }
//   @media screen and (min-width: 1444px) {
//     padding-left: 187px;
//     padding-right: 187px;
//   }
// }
.hero-title {
  display: block;
  font-family: var(--main-font);
  font-weight: 400;
  // font-size: 48px;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  color: var(--text-color);
  padding-bottom: 32px;
  width: 280px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    padding-bottom: 64px;
    width: 334px;
  }
  @media screen and (min-width: 1444px) {
    font-size: 48px;
    padding-bottom: 68px;
    width: 624px;
  }
}
.hero-list {
  display: flex;
  justify-content: center;

  // @media screen and (max-width: 767px) {
  //   // justify-content: space-between;
  // }

  // @media screen and (min-width: 768px) {

  //   // padding-left: 20px;
  //   // padding-right: 20px;
  // }
}

.hero-item {
  &:not(:last-child) {
    @media screen and (min-width: 320px) {
      margin-right: 15px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 20px;
    }

    @media screen and (min-width: 1444px) {
      margin-right: 34px;
    }
  }
}

.hero-img-1 {
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);
  border-radius: 0px 35px 0px 0px;
}
.hero-img-2 {
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}
.hero-img-3 {
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);
  border-radius: 0px 25px;
}
.slogan {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-color);
  padding-top: 32px;
  padding-bottom: 52px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    padding-top: 64px;
  }
  @media screen and (min-width: 1444px) {
    font-size: 36px;
    padding-top: 100px;
    padding-bottom: 90px;
  }
}
// =============petals

.petals {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
// =============petals left

.petals-left {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}
.petal1 {
  display: block;
  // background: var(--white-color);
  width: 74px;
  height: 74px;
  border-radius: 0px 0px 35px 0px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 144px;
    border-radius: 0px 0px 72px 0px;
  }
}
.petal1::after {
  display: block;
  content: '';
  background-image: url('../images/tablet/hero-left-top-tab.jpg');
  width: 74px;
  height: 74px;
  border-radius: 50%;
  margin-left: 100%;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 144px;
    background-size: cover;
  }
}
.petal2 {
  // background: var(--white-color);
  width: 74px;
  height: 74px;
  border-radius: 0px 35px 0px 0px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  margin-left: 74px;
  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 144px;
    margin-left: 144px;
    border-radius: 0px 72px 0px 0px;
  }
}
.petal3 {
  // background: var(--white-color);
  width: 74px;
  height: 74px;
  border-radius: 0px 0px 0px 35px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 144px;
    border-radius: 0px 0px 0px 72px;
  }
}
.petal4 {
  // background: var(--white-color);
  width: 74px;
  height: 74px;
  border-radius: 0px 0px 35px 0px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  margin-left: 74px;
  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 144px;
    margin-left: 144px;
    border-radius: 0px 0px 72px 0px;
  }
}

.petal4::before {
  position: absolute;
  display: block;
  content: '';
  background-image: url('../images/tablet/hero-left-bot-tab.jpg');
  width: 74px;
  height: 74px;
  border-radius: 50%;
  top: 296px;
  left: 32px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 144px;
    top: 576px;
    left: 32px;
    background-size: cover;
  }
}
// =============petals right
.petals-right {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 32px;
}

.petal5 {
  background-image: url('../images/tablet/hero-right-top-tab.jpg');
  width: 74px;
  height: 74px;
  border-radius: 0px 0px 72px 0px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border: transparent;
  margin-left: 74px;
  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 144px;
    background-size: cover;
    margin-left: 144px;
    border-radius: 0px 0px 72px 0px;
  }
}
.petal5::before {
  position: absolute;
  display: block;
  content: '';
  // background: var(--white-color);
  width: 74px;
  height: 74px;
  top: 0;
  left: 0;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 144px;
    left: 0px;
  }
}
.petal6 {
  // background: var(--white-color);
  width: 74px;
  height: 74px;
  border-radius: 50%;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border: transparent;
  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 144px;
  }
}
.petal7 {
  // background: var(--white-color);
  width: 74px;
  height: 74px;
  border-radius: 25px 0px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  margin-left: 74px;
  border: transparent;
  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 144px;
    margin-left: 144px;
    border-radius: 72px 0px;
  }
}
.petal8 {
  // background: var(--white-color);
  width: 74px;
  height: 74px;
  border-radius: 0px 0px 0px 35px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border: transparent;
  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 144px;
  }
}
.petal8::after {
  position: absolute;
  display: block;
  content: '';
  background-image: url('../images/tablet/hero-right-bot-tab.jpg');
  width: 74px;
  height: 74px;
  border-radius: 72px 72px 0px 0px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
  top: 296;
  left: 74px;
  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 144px;
    background-size: cover;
    left: 144px;
  }
}
.petal9 {
  // background: var(--white-color);
  width: 74px;
  height: 74px;
  border-radius: 0px 0px 0px 35px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  margin-left: 74px;
  border: transparent;
  @media screen and (min-width: 1444px) {
    width: 144px;
    height: 124px;
    margin-left: 144px;
    border-radius: 0px 0px 0px 72px;
  }
}
// ===========Vector
.vector {
  padding: 30px 32px 30px 32px;
  cursor: pointer;
  @media screen and (min-width: 1444px) {
    padding: 58px 63px 58px 63px;
  }
}
