.take-order {
}
.container {
}
.take-order__title {
}
.title {
}
.take-order__box-img {
  background-image: url(../images/take-order/take-order-pictures-mbl.jpg);
  background-size: contain;
  background-repeat: no-repeat;

  // max-width: 280px;
  height: 171px;
  //mobile retina
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/take-order/take-order-pictures-mbl@2x.jpg);
  }
  //Tablet
  @media screen and (min-width: 481px) {
    // width: 247px;
    height: 116px;
    background-size: auto;
    background-image: url(../images/take-order/take-order-pictures-tbl.jpg);
    //Tablet retina
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/take-order/take-order-pictures-mbl@2x.jpg);
    }
  }
  //Desktop
  @media screen and (min-width: 769px) {
    // width: 515px;
    height: 315px;
    background-size: auto;
    background-image: url(../images/take-order/take-order-pictures.jpg);
    // padding-top: 200px;
    // padding-bottom: 200px;
    //Desktop retina
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/take-order/take-order-pictures@2x.jpg);
    }
  }
}
.take-order__image {
}
.take-order__box-text {
}
.take-order__text {
}
.text {
  @include fontStyle(16px, 23px, var(--text-color), 0.06em, 300);
  font-family: var(--secondary-font);
  font-style: normal;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}
.text-second {
  @include fontStyle(18px, 23px, var(--text-color), 0.06em, 400);
  font-family: var(--secondary-font);
  font-style: normal;
}
.text-first {
  @include fontStyle(18px, 20px, var(--text-color), 0.06em, 400);
  font-family: var(--main-font);
  font-style: normal;
}
.take-order__list-item {
  //Desktop
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 769px) {
    display: flex;
  }
}
.take-order__item-one {
  //Desktop
  @media screen and (min-width: 769px) {
    height: 144px;
    width: 144px;
    background-size: auto;
    background-image: url(../images/take-order/take-order-pictures-2.jpg);
    //Desktop retina
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/take-order/take-order-pictures-2@2x.jpg);
    }
  }
}
.take-order__item-two {
  //Desktop
  @media screen and (min-width: 769px) {
    height: 144px;
    width: 144px;
    background-size: auto;
    background-image: url(../images/take-order/take-order-pictures-3.jpg);
    //Desktop retina
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/take-order/take-order-pictures-3@2x.jpg);
    }
  }
}
.take-order__item-three {
  //Desktop
  @media screen and (min-width: 769px) {
    height: 144px;
    width: 144px;
    background-size: auto;
    background-image: url(../images/take-order/take-order-pictures-4.jpg);
    //Desktop retina
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/take-order/take-order-pictures-4@2x.jpg);
    }
  }
}
.take-order__subtitle {
}
.take-order__form {
  width: 515px;
}
.take-order__row-box {
}
.take-order__input {
}
.bar {
}
.select-wrapper {
  position: relative;
  // стилизация стрелочки
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    display: block;

    // width: 10px;
    // height: 10px;
    // background-color: var(--text-color);

    // снимаем клик с треугольника
    pointer-events: none;
    // рисуем треугольник
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 9.5px 0 9.5px;
    border-color: #2b2b2b transparent transparent transparent;
  }
}

.select {
  //   растягиваем блок на 100% родительского блока
  width: 100%;
  // убираем браузерную стрелку
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  // задаем свой фон и рамку
  border: none;
  background: transparent;
  //   background: rgba(72, 121, 150, 0.5);
  // отступы от рамки к тексту
  padding: 10px 35px 4px 2px;

  //   убираем браузерную обводку
  outline: none;

  // стилизация курсора
  cursor: pointer;
  &::-ms-expand {
    display: none;
  }
  //   &:hover {
  //     background-color: red;
  //     color: yellowgreen;
  //   }
}

.take-order__commit {
}
.modal-form__comment {
}
.fa {
}
.fa-paperclip {
}

.contact__box-img {
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 769px) {
    display: block;
    width: 530px;
    height: 325px;
  }
}
