<section class="3d-printing section"></section>

<div class="container">
  <h2 class="3d-printing__title">МИ СТВОРЮЄМО</h2>

  <ul class="3d-printing__list">
    <li class="3d-printing__item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/3d-printing/advanteges-1-1x.jpg 1x,
            ./images/3d-printing/advanteges-1-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/3d-printing/advanteges-1-1x.webp,
            ./images/3d-printing/advanteges-1-2x.webp 2x
          "
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/3d-printing/advanteges-1-tbl-1x.jpg 1x,
            ./images/3d-printing/advanteges-1-tbl-2x.jpg 2x
          "
        />
        <source media="(min-width: 768px)" 
          srcset="
            ./images/3d-printing/advanteges-1-tbl-1x.webp 1x,
            ./images/3d-printing/advanteges-1-tbl-2x.webp 2x
          "
        />

        <source
          media="(min-width: 480px)"
          srcset="
            ./images/3d-printing/advanteges-1-mbl-1x.jpg 1x,
            ./images/3d-printing/advanteges-1-mbl-2x.jpg 2x
          "
        />
        <source media="(min-width: 480px)" 
          srcset="
            ./images/3d-printing/advanteges-1-mbl-1x.webp 1x,
            ./images/3d-printing/advanteges-1-mbl-2x.webp 2x
          "
        />

        <img src="./images/3d-printing/advanteges-1-1x.jpg" alt="прототип частини двигуна"/>
      </picture>
      
      <div class="3d-printing__box">
        <p class="3d-printing__text">ПРОТОТИПИ</p>
      </div>

    </li>

    <li class="3d-printing__item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/3d-printing/advanteges-2-1x.jpg 1x,
            ./images/3d-printing/advanteges-2-2x.jpg 2x
          "
        />
        <source media="(min-width: 1200px)" 
          srcset="
            ./images/3d-printing/advanteges-2-1x.webp 1x,
            ./images/3d-printing/advanteges-2-2x.webp 2x
          "
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/3d-printing/advanteges-2-tbl-1x.jpg 1x,
            ./images/3d-printing/advanteges-2-tbl-2x.jpg 2x
          "
        />

        <source media="(min-width: 768px)" 
          srcset="
            ./images/3d-printing/advanteges-2-tbl-1x.webp 1x,
            ./images/3d-printing/advanteges-2-tbl-2x.webp 2x
          "
        />

        <source
          media="(min-width: 480px)"
          srcset="
            ./images/3d-printing/advanteges-2-mbl-1x.jpg 1x,
            ./images/3d-printing/advanteges-2-mbl-2x.jpg 2x
          "
        />

        <source
          media="(min-width: 480px)"
          srcset="
            ./images/3d-printing/advanteges-2-mbl-1x.webp 1x,
            ./images/3d-printing/advanteges-2-mbl-2x.webp 2x
          "
        />
        <img src="./images/3d-printing/advanteges-2-1x.jpg" alt="макет будівлі"/>
      </picture>
      
      <div class="3d-printing__box">
        <p class="3d-printing__text">МАКЕТИ</p>
      </div>

    </li>

    <li class="3d-printing__item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/3d-printing/advanteges-3-1x.jpg 1x,
            ./images/3d-printing/advanteges-3-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/3d-printing/advanteges-3-1x.webp 1x,
            ./images/3d-printing/advanteges-3-2x.webp 2x
          "
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/3d-printing/advanteges-3-tbl-1x.jpg 1x,
            ./images/3d-printing/advanteges-3-tbl-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/3d-printing/advanteges-3-tbl-1x.webp 1x,
            ./images/3d-printing/advanteges-3-tbl-2x.webp 2x
          "
        />

        <source
          media="(min-width: 480px)"
          srcset="
            ./images/3d-printing/advanteges-3-mbl-1x.jpg 1x,
            ./images/3d-printing/advanteges-3-mbl-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 480px)"
          srcset="
            ./images/3d-printing/advanteges-3-mbl-1x.webp 1x,
            ./images/3d-printing/advanteges-3-mbl-2x.webp 2x
          "
        />

        <img src="./images/3d-printing/advanteges-3-1x.jpg" alt="декоративна ваза" />
      </picture>

      <div class="3d-printing__box">
        <p class="3d-printing__text">ДЕКОР</p>
      </div>

    </li>

    <li class="3d-printing__item">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/3d-printing/advanteges-4-1x.jpg 1x,
            ./images/3d-printing/advanteges-4-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/3d-printing/advanteges-4-1x.webp 1x,
            ./images/3d-printing/advanteges-4-2x.webp 2x
          "
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/3d-printing/advanteges-4-tbl-1x.jpg 1x,
            ./images/3d-printing/advanteges-4-tbl-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/3d-printing/advanteges-4-tbl-1x.webp 1x,
            ./images/3d-printing/advanteges-4-tbl-2x.webp 2x
          "
        />

        <source
          media="(min-width: 480px)"
          srcset="
            ./images/3d-printing/advanteges-4-mbl-1x.jpg 1x,
            ./images/3d-printing/advanteges-4-mbl-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 480px)"
          srcset="
            ./images/3d-printing/advanteges-4-mbl-1x.webp 1x,
            ./images/3d-printing/advanteges-4-mbl-2x.webp 2x
          "
        />

        <img src="./images/3d-printing/advanteges-4-1x.jpg" alt="3-д куб" />
      </picture>

      <div class="3d-printing__box">
        <p class="3d-printing__text">КОРПОРАТИВНИЙ ДИЗАЙН</p>
      </div>

    </li>
  </ul>
</div>

<section class="3d-printing-features section">

  <div class="continer">

    <h2 class="visually-hidden">features</h2>

    <ul class="3d-printing-features__list">

      <li class="3d-printing-features__item">
        
          <picture class="3d-printing-features__picture">
            <source 
              media="(min-width: 1200px)" 
              srcset="
                ./images/features-1-1x.jpg 1x,
                ./images/features-1-2x.jpg 2x
              " 
            />

            <source 
              media="(min-width: 1200px)" 
              srcset="
                ./images/features-1-1x.webp 1x,
                ./images/features-1-2x.webp 2x
              " 
            />

            <source 
              media="(min-width: 768px)" 
              srcset="
                ./images/features-1-tbl-1x.jpg 1x,
                ./images/features-1-tbl-2x.jpg 2x
              " 
            />
            <source 
              media="(min-width: 768px)" 
              srcset="
                ./images/features-1-tbl-1x.webp 1x,
                ./images/features-1-tbl-2x.webp 2x
              " 
            />

            <source 
              media="(min-width: 480px)" 
              srcset="
                ./images/features-1-mbl-1x.jpg 1x,
                ./images/features-1-mbl-2x.jpg 2x
              " 
            />
            <source 
              media="(min-width: 480px)" 
              srcset="
                ./images/features-1-mbl-1x.webp 1x,
                ./images/features-1-mbl-2x.webp 2x
              "
            />

            <img src="./images/features-1-1x.jpg" 
              alt="Ейфелева вежа на 3-д принтері" 
            />
          </picture>

          <div class="3d-printing-features__box">

            <p class="3d-printing-features__text">
              <span class="3d-printing-features__text--active">3D-друк</span> - ми використовуємо FDM
              технологію друку. Вона представляє собою пошарове формування об'єкта за допомогою 3D
              принтера.
            </p>

            <p class="3d-printing-features__text">
              Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні:
              системах автоматизованого проектування.
            </p>

            <p class="3d-printing-features__text">
              <span class="3d-printing-features__text--active">3D-друк</span> знайшов широке
              застосування в архітектурі, промисловості, маркетингу, мистецтві і багатьох інших сфер.
            </p>

          </div>       

          <button class="3d-printing-features__btn" type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
        
      </li>

      <li class="3d-printing-features__item">
         
          <picture class="3d-printing-features__picture">

            <source 
              media="(min-width: 1200px)" 
              srcset="
                ./images/features-2-1x.jpg 1x,
                ./images/features-2-2x.jpg 2x
              " 
            />
            <source 
              media="(min-width: 1200px)" 
              srcset="
                ./images/features-2-1x.webp 1x,
                ./images/features-2-2x.webp 2x
              " 
            />
          
            <source 
              media="(min-width: 768px)" 
              srcset="
                ./images/features-2-tbl-1x.jpg 1x,
                ./images/features-2-tbl-2x.jpg 2x
              " 
            />
            <source 
              media="(min-width: 768px)" 
              srcset="
                ./images/features-2-tbl-1x.webp 1x,
                ./images/features-2-tbl-2x.webp 2x
              " 
            />
          
            <source 
              media="(min-width: 480px)" 
              srcset="
                ./images/features-2-mbl-1x.jpg 1x,
                ./images/features-2-mbl-2x.jpg 2x
              " 
            />
            <source 
              media="(min-width: 480px)" 
              srcset="
                ./images/features-2-mbl-1x.webp 1x,
                ./images/features-2-mbl-2x.webp 2x
              " 
            />
            <img src="./images/features-2-1x.jpg" alt="розробник проектує 3-д модель" />
          </picture>

          <div class="3d-printing-features__box">

            <p class="3d-printing-features__text">
              <span class="3d-printing-features__text--active">3D-моделювання</span> - це процес
              розробки математичного уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою
              спеціалізованого програмного забезпечення.
            </p>

            <p class="3d-printing-features__text">
              Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.
            </p>

            <p class="3d-printing-features__text">
              Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить
              ваші потреби.
            </p>

          </div>        

          <button class="3d-printing-features__btn" type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
        
      </li>

      <li class="3d-printing-features__item">

           <picture class="3d-printing-features__picture">
          
            <source 
              media="(min-width: 1200px)" 
              srcset="
                ./images/features-3-1x.jpg 1x,
                ./images/features-3-2x.jpg 2x
              " 
            />
            <source 
              media="(min-width: 1200px)" 
              srcset="
                ./images/features-3-1x.webp 1x,
                ./images/features-3-2x.webp 2x
              " 
            />
          
            <source 
              media="(min-width: 768px)" 
              srcset="
                ./images/features-3-tbl-1x.jpg 1x,
                ./images/features-3-tbl-2x.jpg 2x
              " 
            />
            <source 
              media="(min-width: 768px)" 
              srcset="
                ./images/features-3-tbl-1x.webp 1x,
                ./images/features-3-tbl-2x.webp 2x
              " 
            />
          
            <source 
              media="(min-width: 480px)" 
              srcset="
                ./images/features-3-mbl-1x.jpg 1x,
                ./images/features-3-mbl-2x.jpg 2x
              " 
            />
            <source 
              media="(min-width: 480px)" 
              srcset="
                ./images/features-3-mbl-1x.webp 1x,
                ./images/features-3-mbl-2x.webp 2x
              "
            />

            <img src="./images/features-3-1x.jpg" alt="гіпсовий бюст на 3-д сканері" />

          </picture>

          <div class="3d-printing-features__box">

            <p class="3d-printing-features__text">
              <span class="3d-printing-features__text--active">3D-сканування</span> - зняття даних,
              шляхом аналізу форми предмета і на основі отриманих даних створення її 3D-моделі.
            </p>

            <p class="3d-printing-features__text">
              Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для
              візуалізації в цифровому вигляді, так і 3D-модель для подальшого її друку на
              3D-принтері.
            </p>

          </div>        

          <button class="3d-printing-features__btn" type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
        </div>
      </li>
    </ul>
  </div>
</section>
