<section class="contact container">
    <h2 class="contact__title">Контакти</h2>
    <iframe class="contact__iframe" width="280" height="171" src="https://www.youtube.com/watch?v=uXGE0vuuaDo"></iframe>
    <p class="contact__description">Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим процесом не на десяток хвилин.
    </p>
    <p class="contact__description">Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D друку і просто помилуватися красою цього процесу. </p>
    <p class="contact__description">Приємного перегляду!
    </p>
    <form class="contact__form">
        <h3 class="contact__form-name">ЗВ’ЯЖІТЬСЯ З НАМИ</h3>
        <label class="modal__form-field">
            Ім’я
            <input class="modal__form-input" type="text" name="user-name" title="Имя должно содержать символы кирилицы или латиницы" pattern="[a-zA-Zа-яёА-ЯЁ]+" minlength="2" required>
        </label>
        <label class="modal__form-field">
            Email
            <input class="modal__form-input" type="email" name="user-email" required>
        </label>
        <label class="modal__form-field">
            Повідомлення
            <textarea name="user-message" class="modal__form-message" placeholder="Залишіть своє повідомлення"></textarea>
        </label>
        <p class="modal__form-info">*Прикріпіть зображення / креслення / STL / Obj / CAD-модель</p>
        <button type="submit" class="modal__form-btn">Відправити</button>
    </form>
    <h4 class="contact__info-text">Телефони</h4>
    <a class="contact__link" href="tel:+380957384551">+38 (095) -73-84-551</a>
    <a class="contact__link" href="tel:+380980025235">+38 (098) -00-25-235</a>
    <h4 class="contact__info-text">Email</h4>
    <a class="contact__link" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
    <h4 class="contact__info-text">Робочий час</h4>
    <p class="contact__link">Пн-пт:з 8:00 до 19:00 Сб, Нд:з 10:00 до 17:00</p>

</section>