<section class="contact container">
    <h2 class="contact__title title">Контакти</h2>
    <div class="contact__position-one">
        <div class="contact__box-iframe">
            <iframe class="contact__iframe" src="https://www.youtube.com/embed/LCXjaTNx_vg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="contact__box-text">
            <p class="contact__description">Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим процесом не на десяток хвилин.
            </p>
            <p class="contact__description">Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D друку і просто помилуватися красою цього процесу. </p>
            <p class="contact__description">Приємного перегляду!
            </p>
        </div>
    </div>
    <div class="contact__position-four">
    <div class="contact__position-two">
    <form class="contact__form">
        <h3 class="contact__form-name title_second">ЗВ’ЯЖІТЬСЯ З НАМИ</h3>
        <div class="contact__row-box">
            <label class="modal__form-field">
                Ім’я
                <input class="modal__form-input" type="text" name="user-name"  placeholder="Олексій" title="Имя должно содержать символы кирилицы или латиницы" pattern="[a-zA-Zа-яёА-ЯЁ]+" minlength="2" required>
            </label>
        </div>
        <div class="contact__row-box">
            <label class="modal__form-field">
                Email
                <input class="modal__form-input" type="email" name="user-email" required>
            </label>
        </div>
        <div class="contact__row-box">
            <label class="modal__form-field">
                Повідомлення</label>
                <textarea name="user-message" class="modal__form-message" placeholder="Залишіть своє повідомлення"></textarea>
                <label class="file-label" for="file">
                    <input class="file" type="file" id="file" name="file">
                    <span>
                        <svg class="file-add">
                            <use href="./images/sprite/symbol-defs.svg#icon-flippaper"></use>
                        </svg>
                    </span>
                </label>
            <p class="modal__form-info">*Прикріпіть зображення / креслення / STL / Obj / CAD-модель</p>
        </div>
        <p class="test-btn"><button type="submit" class="modal__form-btn">Відправити</button></p>
    </form>
    </div>
    <div class="contact__box-info">
        <div class="contact__box-tel">
            <h4 class="contact__info-text title_second">Телефони</h4>
            <ul>
                <li class="contact__list"><a class="contact__link text-second" href="tel:+380957384551">+38 (095) -73-84-551</a></li>
                <li class="contact__list"><a class="contact__link text-second" href="tel:+380980025235">+38 (098) -00-25-235</a></li>
            </ul>
        </div>
        <div class="contact__box-email">
            <h4 class="contact__info-text title_second">Email</h4>
            <a class="contact__link text-second" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
        </div>
        <div class="contact__box-worktime">
            <h4 class="contact__info-text title_second">Робочий час</h4>
            <p class="contact__link text-second">Пн-пт:з 8:00 до 19:00</p>
            <p class="contact__link text-second">Сб, Нд:з 10:00 до 17:00</p>
        </div>
    </div>
</div>
</section>