<section class="gallery">
    <div class="container gallery__container">
        <h2 class="title gallery__title">ГАЛЕРЕЯ</h2>
        <ul class="gallery__list">
            <li class="gallery__item">
                <picture>
                    <source srcset="./images/gallery/engineering-method.webp 1x, ./images/gallery/engineering-method@2x.webp 2x" type="image/webp">
                    <source srcset="./images/gallery/engineering-method.jpg 1x, ./images/gallery/engineering-method@2x.jpg 2x">
                    <img class="galley__photo" src="./images/gallery/engineering-method.jpg" alt="Макет 3D запчасти">
                </picture>
                <h3 class="gallery__description">
                    Інженерні методи аналізу та контролю якості
                </h3>
            </li>
            <li class="gallery__item">
                <picture>
                    <source  srcset="./images/gallery/high-quality-scan.webp 1x, ./images/gallery/high-quality-scan@2x.webp 2x" type="image/webp" >
                    <source  srcset="./images/gallery/high-quality-scan.jpg 1x, ./images/gallery/high-quality-scan@2x.jpg 2x" >
                    <img class="galley__photo" src="./images/gallery/high-quality-scan.jpg" alt="Сканер сканирует модель">
                </picture>
                <h3 class="gallery__description">
                    Високоточне 3D сканування
                </h3>
            </li>
            <li class="gallery__item">
                <picture>
                    <source  srcset="./images/gallery/copy-reverse-engineering.webp 1x, ./images/gallery/copy-reverse-engineering@2x.webp 2x" type="image/webp" >
                    <source  srcset="./images/gallery/copy-reverse-engineering.jpg 1x, ./images/gallery/copy-reverse-engineering@2x.jpg 2x" >
                    <img class="galley__photo" src="./images/gallery/copy-reverse-engineering.jpg" alt="Копирование модели макета">
                </picture>
                <h3 class="gallery__description">
                    Створення точної копії на базі сканування reverse engineering
                </h3>
            </li>
            <li class="gallery__item">
                <picture>
                    <source  srcset="./images/gallery/cycle-project-model.webp 1x, ./images/gallery/cycle-project-model@2x.webp 2x" type="image/webp" >
                    <source  srcset="./images/gallery/cycle-project-model.jpg 1x, ./images/gallery/cycle-project-model@2x.jpg 2x" >
                    <img class="galley__photo" src="./images/gallery/cycle-project-model.jpg" alt="Мастер рисует по макету">
                </picture>
                <h3 class="gallery__description">
                    Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
                </h3>
            </li>
        </ul>
    </div>
</section>
<section class="more-photo">
    <div class="more-photo__container container">
        <h2 class="title more-photo__title">БІЛЬШЕ ФОТО</h2>
        <ul class="more-photo__list">
            <li class="more-photo__item">
                <a href="#" class="more-photo__link">
                    <picture>
                        <source srcset="./images/gallery/gallery-morephoto-1.webp 1x, ./images/gallery/gallery-morephoto-1@2x.webp 2x"
                        type="image/webp">
                        <source srcset="./images/gallery/gallery-morephoto-1.jpg 1x, ./images/gallery/gallery-morephoto-1@2x.jpg 2x">
                        <img class="more-photo__image" src="./images/gallery/gallery-morephoto-1.jpg" alt="Модели различных персонажей на столе">
                    </picture>
                </a>
            </li>
            <li class="more-photo__item">
                <a href="#" class="more-photo__link">
                    <picture>
                        <source srcset="./images/gallery/gallery-morephoto-2.webp 1x, ./images/gallery/gallery-morephoto-2@2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/gallery/gallery-morephoto-2.jpg 1x, ./images/gallery/gallery-morephoto-2@2x.jpg 2x">
                        <img class="more-photo__image" src="./images/gallery/gallery-morephoto-2.jpg" alt="Модель архитектурного сооружения">
                    </picture>
                </a>
            </li>
            <li class="more-photo__item">
                <a href="#" class="more-photo__link">
                    <picture>
                        <source srcset="./images/gallery/gallery-morephoto-3.webp 1x, ./images/gallery/gallery-morephoto-3@2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/gallery/gallery-morephoto-3.jpg 1x, ./images/gallery/gallery-morephoto-3@2x.jpg 2x">
                        <img class="more-photo__image" src="./images/gallery/gallery-morephoto-3.jpg" alt="Модель робота Walle">
                    </picture>
                </a>
            </li>
            <li class="more-photo__item">
                <a href="#" class="more-photo__link">
                    <picture>
                        <source srcset="./images/gallery/gallery-morephoto-4.webp 1x, ./images/gallery/gallery-morephoto-4@2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/gallery/gallery-morephoto-4.jpg 1x, ./images/gallery/gallery-morephoto-4@2x.jpg 2x">
                        <img class="more-photo__image" src="./images/gallery/gallery-morephoto-4.jpg" alt="Статуэтка черепа">
                    </picture>
                </a>
            </li>
            <li class="more-photo__item">
                <a href="#" class="more-photo__link">
                    <picture>
                        <source srcset="./images/gallery/gallery-morephoto-5.webp 1x, ./images/gallery/gallery-morephoto-5@2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/gallery/gallery-morephoto-5.jpg 1x, ./images/gallery/gallery-morephoto-5@2x.jpg 2x">
                        <img class="more-photo__image" src="./images/gallery/gallery-morephoto-5.jpg" alt="Модель танка T-29">
                    </picture>
                </a>
            </li>
            <li class="more-photo__item">
                <a href="#" class="more-photo__link">
                    <picture>
                        <source srcset="./images/gallery/gallery-morephoto-6.webp 1x, ./images/gallery/gallery-morephoto-6@2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/gallery/gallery-morephoto-6.jpg 1x, ./images/gallery/gallery-morephoto-6@2x.jpg 2x">
                        <img class="more-photo__image" src="./images/gallery/gallery-morephoto-6.jpg" alt="Модель светильников Pixar">
                    </picture>
                </a>
            </li>
            <li class="more-photo__item">
                <a href="#" class="more-photo__link">
                    <picture>
                        <source srcset="./images/gallery/gallery-morephoto-7.webp 1x, ./images/gallery/gallery-morephoto-7@2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/gallery/gallery-morephoto-7.jpg 1x, ./images/gallery/gallery-morephoto-7@2x.jpg 2x">
                        <img class="more-photo__image" src="./images/gallery/gallery-morephoto-7.jpg" alt="Модель спортивного автомобиля">
                    </picture>
                </a>
            </li>
            <li class="more-photo__item">
                <a href="#" class="more-photo__link">
                    <picture>
                        <source srcset="./images/gallery/gallery-morephoto-8.webp 1x, ./images/gallery/gallery-morephoto-8@2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/gallery/gallery-morephoto-8.jpg 1x, ./images/gallery/gallery-morephoto-8@2x.jpg 2x">
                        <img class="more-photo__image" src="./images/gallery/gallery-morephoto-8.jpg" alt="Модель башни">
                    </picture>
                </a>
            </li>
            <li class="more-photo__item">
                <a href="#" class="more-photo__link">
                    <picture>
                        <source srcset="./images/gallery/gallery-morephoto-9.webp 1x, ./images/gallery/gallery-morephoto-9@2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/gallery/gallery-morephoto-9.jpg 1x, ./images/gallery/gallery-morephoto-9@2x.jpg 2x">
                        <img class="more-photo__image" src="./images/gallery/gallery-morephoto-9.jpg" alt="Модель грибочка">
                    </picture>
                </a>
            </li>
            <li class="more-photo__item">
                <a href="#" class="more-photo__link">
                    <picture>
                        <source srcset="./images/gallery/gallery-morephoto-10.webp 1x, ./images/gallery/gallery-morephoto-10@2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/gallery/gallery-morephoto-10.jpg 1x, ./images/gallery/gallery-morephoto-10@2x.jpg 2x">
                        <img class="more-photo__image" src="./images/gallery/gallery-morephoto-10.jpg" alt="Модель увлажнителя воздуха">
                    </picture>
                </a>
            </li>
            <li class="more-photo__item">
                <a href="#" class="more-photo__link">
                    <picture>
                        <source srcset="./images/gallery/gallery-morephoto-11.webp 1x, ./images/gallery/gallery-morephoto-11@2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/gallery/gallery-morephoto-11.jpg 1x, ./images/gallery/gallery-morephoto-11@2x.jpg 2x">
                        <img class="more-photo__image" src="./images/gallery/gallery-morephoto-11.jpg" alt="Модель Space-x автомобиля">
                    </picture>
                </a>
            </li>
            <li class="more-photo__item">
                <a href="#" class="more-photo__link">
                    <picture>
                        <source srcset="./images/gallery/gallery-morephoto-12.webp 1x, ./images/gallery/gallery-morephoto-12@2x.webp 2x"
                            type="image/webp">
                        <source srcset="./images/gallery/gallery-morephoto-12.jpg 1x, ./images/gallery/gallery-morephoto-12@2x.jpg 2x">
                        <img class="more-photo__image" src="./images/gallery/gallery-morephoto-12.jpg" alt="Модели круглых горшков для цветов">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>