<header class="header-menu">
  <div class="container container-header">
    <nav class="navigation-header">
      <p class="header__logo">
        <a class="header__icon" href="./index.html">
          <img class="logo" src="./images/logo/3DFREEDOM2.png" alt="logo" />
        </a>
      </p>
      <div class="container__nav">
        <ul class="header-nav">
          <li class="header-nav__item">
            <a class="header-nav__link" href="./index.html">Головна </a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#"
              >Послуги
              <p class="header-nav__link">3D Моделювання</p>
              <p class="header-nav__link">3D Сканування</p>
              <p class="header-nav__link">3D Друк</p>
            </a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="./take-order-page.html">Замовити </a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="./contacts-page.html">Контакти </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-phone">
      <ul class="header-phone">
        <li class="header-phone__item">
          <a class="header-phone__link" href="tel:+380936432288">+38 (093) 643 22 88</a>
        </li>
        <li class="header-phone__item">
          <a class="header-phone__link" href="tel:+380503454423">+38 (050) 345 44 23</a>
        </li>
      </ul>
    </div>
  </div>
</header>
