<header class="header-menu">
  <div class="container-header header-burger">
    <nav class="navigation-header">
      <p class="header__logo">
        <a class="header__icon" href="./index.html">
          <img class="logo" src="./images/logo/3DFREEDOM2.png" alt="logo" />
        </a>
      </p>
      <div class="container__nav">
        <ul class="header-nav">
          <li class="header-nav__item">
            <a class="header-nav__link" href="./index.html">Головна </a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#"
              >Послуги
              <p class="header-nav__link">3D Моделювання</p>
              <p class="header-nav__link">3D Сканування</p>
              <p class="header-nav__link">3D Друк</p>
            </a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="./take-order-page.html">Замовити </a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="./contacts-page.html">Контакти </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-phone">
      <ul class="header-phone">
        <li class="header-phone__item">
          <a class="header-phone__link" href="tel:+380936432288">
            <svg class="contact__icon" width="14" height="14">
              <use href="./images/sprite/symbol-defs.svg#icon-Vector-6"></use>
            </svg>
            +38 (093) 643 22 88
          </a>
        </li>
        <li class="header-phone__item">
          <a class="header-phone__link" href="tel:+380503454423">
            <svg class="contact__icon" width="14" height="14">
              <use href="./images/sprite/symbol-defs.svg#icon-Vector-6"></use>
            </svg>
            +38 (050) 345 44 23
          </a>
        </li>
      </ul>
    </div>
    <div class="container-burger">
      <button type="button" class="open-btn">
        <ul class="burger">
          <li class="burger-item">
            <svg class="burger__icon" width="32" height="32">
              <use href="./images/sprite/symbol-defs.svg#icon-burger-menu"></use>
            </svg>
          </li>
          <li class="burger-item">
            <svg class="call__icon" width="24" height="24">
              <use href="./images/sprite/symbol-defs.svg#icon-Vector-6"></use>
            </svg>
          </li>
        </ul>
      </button>
    </div>

    <!-- <ul class="mobile">
          <li class="mobile__item">
            <a class="mobile__link current" href="#"> Головна </a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link current" href="#"> Послуги</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link current" href="#"> 3D Моделювання</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link current" href="#"> 3D Сканування</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link current" href="#"> 3D Друк</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link current" href="#"> Замовити</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link current" href="#"> Контакты</a>
          </li>
        </ul> -->
  </div>
</header>
