<!-- Hero -->
<!-- HERO -->
<section class="hero container">
  <h1 class="hero-title">Інженерна,<br />конструкторська<br />та дизайнерська робота</h1>
  <ul class="hero-list">
    <li class="hero-item">
      <img class="hero-img" src="" alt="робот" width="206" />
    </li>
    <li class="hero-item">
      <img class="hero-img" src="" alt="две настольных лампы" width="206" />
    </li>
    <li class="hero-item">
      <img class="hero-img" src="" alt="череп-подставка" width="206" />
    </li>
  </ul>
  <p class="slogan">Ми втілюємо ідеї в реальність</p>
</section>
<!-- END HERO -->
