<section class="take-order container">
<h2 class="take-order__title title">ЗРОБИТИ ЗАМОВЛЕННЯ</h2>
<div>
    <div class="take-order__box-img">
    <img class="take-order__image" src="" alt="gallery image">
    </div>
    <div class="take-order__box-text">
        <p class="take-order__text text">
            На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з вами.
        </p>
        <p class="take-order__text text">
            Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на всі ваші запитання.
        </p>
    </div>
    <img src="" alt="mashine">
    <img src="" alt="tubus">
    <img src="" alt="lamp">
</div>
<div>
    <h3 class="take-order__subtitle">ЗВ’ЯЖІТЬСЯ З НАМИ</h3>
    <form class="take-order__form" name="form1" action="" method="POST" autocomplete="off">
        <div class="take-order__row-box">
            <input class="take-order__input" id="name" type="text" minlength="2" maxlength="25" autofocus placeholder="Олексій" required>
            <span class="bar"></span>
            <label>Ім’я</label>
        </div>
           
        <div class="take-order__row-box">
            <input class="take-order__input" id="email" type="email" placeholder="test@test.com" required>
            <span class="bar"></span>
            <label>Email</label>
        </div>
        <div class="take-order__row-box">
            <select class="" name="type">
                <label>Види пластика</label>
                <span class="bar"></span>
                <option value="PLA">PLA (ПЛА)</option>
                <option value="ABS">ABS (АБС)</option>
                <option value="PVA">PVA (ПВА)</option>
                <option value="Nylone">Nylone (Нейлон)</option>
                <option value="HIPS">HIPS (Ударостійкий полістирол)</option>
            </select>
        </div>
        <div class="take-order__row-box">
            <select class="" name="quality">
                <label>Якість друку</label>
                <span class="bar"></span>
                <option value="300µm">300 мікрон</option>
                <option selected value="200µm">200 мікрон</option>
                <option value="100µm">100 мікрон</option>
                <option>Труднощі у виборі - ми допоможемо</option>
            </select>
        </div>
        <div class="take-order__row-box">
            <select class="" name="color">
                <label>Колір</label>
                <span class="bar"></span>
                <option value="red">Червоний</option>
                <option value="white">Білий</option>
                <option value="black">Чорний</option>
                <option value="yellow">Жовтий</option>
            </select>
        </div>
        <div class="take-order__commit">
            <label>Повідомлення</label>
            <textarea class="modal-form__comment" name="comment" id="comment" rows="10" placeholder="Залишіть своє повідомлення"></textarea>
            <i class="fa fa-paperclip" aria-hidden="true">
                <input type="file" name="foto">
            </i>
            <p>*Прикріпіть зображення/креслення/STL/Obj/CAD-модель</p>
        </div>
    
    </form>
</div>
</section>


